* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* navbar */


.navbar {
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 7px;
   padding-bottom: px;
   width: 100%;
   position: fixed;
   top: 0px;
   z-index: 50;
}

/* .left-navbar */
.left-navbar {
   display: flex;
   justify-content: center;
   align-items: center;
}

.fa-bars {
   font-size: 25px;
   margin-left: 30px;
   margin-right: 30px;
}

.logo img {
   height: 35px;
   width: 160px;
   font-size: 100px;
}

/* center navbar */

input {
   width: 600px;
   padding: 10px;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   font-size: 20px;
   outline: none;
   border: 1px solid gainsboro;
}

.fa-magnifying-glass {
   font-size: 23px;
   font-weight: 100;
   border: 1px solid gainsboro;
   padding: 8px 30px 12px 30px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   border-left: none;
   margin-left: -5px;
   background-color: gainsboro;

}

.fa-microphone {
   font-size: 22px;
   margin-left: 30px;
}

/* navbar-right */

.right-navbar {
   display: flex;
   justify-content: center;
   align-items: center;
}

.fa-video {
   font-size: 20px;
   margin-right: 20px;
}

.fa-bell {
   font-size: 20px;
   margin-right: 20px;
}

.profile {
   width: 40px;
   height: 40px;
   font-size: 25px;
   background-color: rgb(124, 25, 216);
   color: white;
   border-radius: 50px;
   margin-right: 20px;
   padding: 5px 10px 0px 10px;
}

/* ---------side-bar----- */


.side-bar {
   width: 7%;
   height: 100vh;
   margin-top: -1px;
   position: fixed;
   top: 58px;
}

.home {
   margin-right: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}

.home:hover {
   padding-top: 30px;
   margin-top: 40px;
   background-color: gainsboro;
   cursor: pointer;
   transition: 0.5s;
}

.fa-house {
   font-size: 20px;
   margin-bottom: 10px;
}

.shorts {
   margin-right: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.shorts:hover {
   margin-top: 20px;
   background-color: gainsboro;
   cursor: pointer;
   transition: 0.5s;
}

.shorts img {
   height: 30px;
   margin-top: 30px;
   margin-bottom: 10px;
}

.subscription {
   margin-right: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.subscription:hover {
   margin-top: 20px;
   background-color: gainsboro;
   cursor: pointer;
   transition: 0.5s;
}

.subscription img {
   height: 35px;
   margin-top: 30px;
   margin-bottom: 10px;
}

.library {
   margin-right: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.library:hover {
   margin-top: 20px;
   background-color: gainsboro;
   cursor: pointer;
   transition: 0.5s;
}

.library img {
   height: 50px;
   margin-top: 30px;
   margin-bottom: 10px;
}

.download {
   margin-right: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.download:hover {
   margin-top: 20px;
   background-color: gainsboro;
   cursor: pointer;
   transition: 0.5s;
}

.fa-arrow-down {
   font-size: 25px;
   margin-top: 30px;
   margin-bottom: 10px;
}

/* --------------- tablist---------- */

.tablist {
   background-color: white;
   margin-left: -1px;
   padding-bottom: 5px;
   width: 199vh;
   height: 60px;
   /* overflow: hidden;
   overflow-x: scroll; */
   position: fixed;
   top: 68px;
   left: 106px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 50;
}

.box {
   background-color: gainsboro;
   padding: 10px 20px;
   border-radius: 10px;
}

.box:hover {
   background-color: black;
   color: white;
   cursor: pointer;
}

/* -----------------video-containt------------ */

.video-container {
   width: 92%;
   height: auto;
   margin-left: -1px;
   position: absolute;
   top: 120px;
   left: 106px;
   z-index: 5;
}

.row {
   margin-top: 20px;
   width: 100%;
   height: 50vh;
   display: flex;
   justify-content: space-between;
}

.column {
   width: 33%;
   height: 50vh;
   flex-shrink: row;
}

.column:hover {
   cursor: pointer;
}

video {
   object-fit: cover;
   width: 400px;
   height: 220px;
   border-radius: 10px;
}


.info-1 {
   display: flex;
   justify-content: space-between;
}

.fa-solid {
   margin: 20px;
}